In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
print('Numpy Version ->',np.__version__,' --- ','Pandas Version ->',pd.__version__)

Numpy Version -> 1.13.3  ---  Pandas Version -> 0.21.1

# Create a Time stamp
Time-stamped data is the most basic type of timeseries data that associates values with
points in time. For pandas objects, it means using the points in time. Let’s take an
example:

In [5]:
pd.Timestamp('2018-01-01')

Timestamp('2018-01-01 00:00:00')

It is also possible to convert integer or float epoch times. The default unit for these is
nanoseconds (since these are how Timestamps are stored). However, often epochs are
stored in another unit which can be specified. Let’s take another example:

In [13]:
pd.Timestamp(1200,unit='D')

Timestamp('1973-04-15 00:00:00')

## Create a Range of Time

In [7]:
pd.date_range("11:00", "13:30", freq="30min").time

array([datetime.time(11, 0), datetime.time(11, 30), datetime.time(12, 0),
       datetime.time(12, 30), datetime.time(13, 0), datetime.time(13, 30)], dtype=object)

## Change the Frequency of Time

In [14]:
print(pd.date_range("11:00", "13:30", freq="H").time)
print(pd.date_range('2012-1-1', periods=3, freq='Y'))

[datetime.time(11, 0) datetime.time(12, 0) datetime.time(13, 0)]
DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31'], dtype='datetime64[ns]', freq='A-DEC')

## Get Current Time

In [16]:
pd.datetime.now()

datetime.datetime(2017, 12, 30, 12, 38, 38, 699880)

## Converting to Timestamps

To convert a Series or list-like object of date-like objects, for example strings, epochs, or
a mixture, you can use the to_datetime function. When passed, this returns a Series
(with the same index), while a list-like is converted to a DatetimeIndex. Take a look at
the following example:

In [21]:
pd.to_datetime(pd.Series(['Jul 31 2009','2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [17]:
pd.to_datetime(pd.Series(['2005/11/23', '2010.12.31', None]))

0   2005-11-23
1   2010-12-31
2          NaT
dtype: datetime64[ns]

In [33]:
start=pd.Timestamp(2015,1,15)
end=pd.datetime.now()
Table=pd.date_range(start,end,freq='MS',periode=5)
Table

DatetimeIndex(['2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01', '2016-12-01', '2017-01-01',
               '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
               '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01',
               '2017-10-01', '2017-11-01', '2017-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [34]:
A=pd.Series(Table)
B=pd.Series(pd.date_range(start,end,freq='Y'))
A+pd.Timedelta(100,unit='D')

0    2015-05-12
1    2015-06-09
2    2015-07-10
3    2015-08-09
4    2015-09-09
5    2015-10-09
6    2015-11-09
7    2015-12-10
8    2016-01-09
9    2016-02-09
10   2016-03-10
11   2016-04-10
12   2016-05-11
13   2016-06-09
14   2016-07-10
15   2016-08-09
16   2016-09-09
17   2016-10-09
18   2016-11-09
19   2016-12-10
20   2017-01-09
21   2017-02-09
22   2017-03-11
23   2017-04-11
24   2017-05-12
25   2017-06-09
26   2017-07-10
27   2017-08-09
28   2017-09-09
29   2017-10-09
30   2017-11-09
31   2017-12-10
32   2018-01-09
33   2018-02-09
34   2018-03-11
dtype: datetime64[ns]

In [35]:
A-B

0    -333 days
1    -671 days
2          NaT
3          NaT
4          NaT
5          NaT
6          NaT
7          NaT
8          NaT
9          NaT
10         NaT
11         NaT
12         NaT
13         NaT
14         NaT
15         NaT
16         NaT
17         NaT
18         NaT
19         NaT
20         NaT
21         NaT
22         NaT
23         NaT
24         NaT
25         NaT
26         NaT
27         NaT
28         NaT
29         NaT
30         NaT
31         NaT
32         NaT
33         NaT
34         NaT
dtype: timedelta64[ns]

In [32]:
B

0   2015-12-31
1   2016-12-31
dtype: datetime64[ns]