In [1]:
import pandas as pd
import numpy as np
print('Numpy Version ->',np.__version__,' --- ','Pandas Version ->',pd.__version__)

Numpy Version -> 1.13.3  ---  Pandas Version -> 0.21.1

In [3]:
#What Does This line Do?
#What phase are we in Now?
frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],
                        'price': [12.33,11.44,33.21,13.23,33.62]})
print(frame1['id'][:2])
#Print Column by Columns

0      ball
1    pencil
Name: id, dtype: object

In [4]:
#Save This DataSet to a csv file
frame1.to_csv('Mark_1.csv',index=False)
#Load the DataSet from the csv file
frame1_mark1=pd.read_csv('Mark_1.csv')
#-----
print(frame1_mark1)
#what went wrong? how can we remedy this?

        id  price
0     ball  12.33
1   pencil  11.44
2      pen  33.21
3      mug  13.23
4  ashtray  33.62

In [57]:
#Create a nother dataset
frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'],'color': ['white','red','red','black']})
print(frame2)

   color      id
0  white  pencil
1    red  pencil
2    red    ball
3  black     pen

In [20]:
#Merge the two dataSets into one data set containing the price and the color
merged=pd.merge(frame1,frame2)
print(merged)
#he did the merging based on what ?

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

In [21]:
#create a two more datasets sharing more than one column and two others no column sharing and merge the two
frame1_tcs=pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],
                          'color': ['white','red','red','black','green'],
                          'brand': ['OMG','ABC','ABC','POD','POD']})
frame2_tcs=pd.DataFrame( {'id':['pencil','pencil','ball','pen'],
                                   'brand': ['OMG','POD','ABC','POD']})
merged_tcs=pd.merge(frame1_tcs,frame2_tcs)
print(merged_tcs)
#fix this based on ID

Empty DataFrame
Columns: [brand, color, id]
Index: []

In [22]:
merged_tcs=pd.merge(frame1_tcs,frame2_tcs,on='id')
print(merged_tcs)
#do another merge for brand

  brand_x  color      id brand_y
0     OMG  white    ball     ABC
1     ABC    red  pencil     OMG
2     ABC    red  pencil     POD
3     ABC    red     pen     POD

In [5]:
frame3_ncs=pd.DataFrame( {'ID':['ball','pencil','pen','mug','sys'],
                                      'COLOR': ['white','red','red','black','green'],
                                      'brand': ['OMG','POD','ABC','POD','ABC']})
merged_ncs=pd.merge(frame1,frame3_ncs,left_on='id',right_on='ID',how='outer')
print(merged_ncs)
#Do another one with color / change the ID to a miss match

        id  price  COLOR      ID brand
0     ball  12.33  white    ball   OMG
1   pencil  11.44    red  pencil   POD
2      pen  33.21    red     pen   ABC
3      mug  13.23  black     mug   POD
4  ashtray  33.62    NaN     NaN   NaN
5      NaN    NaN  green     sys   ABC

In [8]:
#use joint to merge by index
join=frame1.join(frame3_ncs)
print(join)
#use this on the other datasets

        id  price  COLOR      ID brand
0     ball  12.33  white    ball   OMG
1   pencil  11.44    red  pencil   POD
2      pen  33.21    red     pen   ABC
3      mug  13.23  black     mug   POD
4  ashtray  33.62  green     sys   ABC

In [71]:
#Pandas Series
ser1 = pd.Series(np.random.rand(4), index=[1,2,3,4])
ser2 = pd.Series(np.random.rand(4), index=[5,6,7,8])
A=pd.concat([ser1,ser2])
B=pd.concat([ser1,ser2], keys=[1,2])
C=pd.concat([ser1,ser2], axis=1, keys=[1,2])
D=ser1.shift(-2)
#execute and print ?
print(A,'\n',B,'\n',C)

1    0.435092
2    0.560027
3    0.012283
4    0.502112
5    0.738180
6    0.263800
7    0.381160
8    0.723503
dtype: float64
 1  1    0.435092
   2    0.560027
   3    0.012283
   4    0.502112
2  5    0.738180
   6    0.263800
   7    0.381160
   8    0.723503
dtype: float64
           1         2
1  0.435092       NaN
2  0.560027       NaN
3  0.012283       NaN
4  0.502112       NaN
5       NaN  0.738180
6       NaN  0.263800
7       NaN  0.381160
8       NaN  0.723503

In [74]:
A_minus_twolastrows=A.shift(-2)
print(np.stack([A,A_minus_twolastrows],axis=1))

[[ 0.43509152  0.0122832 ]
 [ 0.560027    0.50211234]
 [ 0.0122832   0.73817996]
 [ 0.50211234  0.26379954]
 [ 0.73817996  0.38116017]
 [ 0.26379954  0.72350295]
 [ 0.38116017         nan]
 [ 0.72350295         nan]]

In [45]:
#do the same thing for dataframes 2 by 2
frame1 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[1,2,3],columns=['A','B','C'])
frame2 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[1,2,3],columns=['A','B','C'])
frame3 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[1,2,3],columns=['D','E','F'])
frame4 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[4,5,6],columns=['A','B','C'])
frame5 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[4,5,6],columns=['D','E','F'])

In [52]:
A=pd.concat([frame1, frame2])
B=pd.concat([frame1, frame4],axis=1)
print(A,'\n',B)

          A         B         C
1  0.785975  0.722894  0.994971
2  0.511977  0.204416  0.858260
3  0.350950  0.756996  0.925614
1  0.892940  0.505055  0.024466
2  0.026971  0.083542  0.725766
3  0.446142  0.330206  0.170514
           A         B         C         A         B         C
1  0.785975  0.722894  0.994971       NaN       NaN       NaN
2  0.511977  0.204416  0.858260       NaN       NaN       NaN
3  0.350950  0.756996  0.925614       NaN       NaN       NaN
4       NaN       NaN       NaN  0.094044  0.401516  0.930938
5       NaN       NaN       NaN  0.024151  0.804281  0.379155
6       NaN       NaN       NaN  0.317212  0.738282  0.177645

In [55]:
#Do some data manipulation with B